__pycache__/
*.pyc

.venv/
venv/
env/
.env

.ipynb_checkpoints/

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

results/figures/*
results/metrics/*

!results/figures/.gitkeep
!results/metrics/.gitkeep

models/*
!models/.gitkeep

*.pt
*.pth

.DS_Store
Thumbs.db